---
import Layouts from "../layouts/Layouts.astro";
---

<Layouts type="landing">
  <div class="bg-slate-200">
    <h1 class="text-3xl font-black flex h-screen items-center justify-center">
      Astro + Tailwind + React + Typescript + MDX
    </h1>
  </div>
</Layouts>
